.box {
  width: 1200px;
  margin: 0 auto;
}
/***************导航*******************/
.save
    {
      display: block;
      background: #f29525;
      color: #fff;
      font-size: 14px;
      margin-top: 54px;
      width: 80px;
      height: 35px;
      line-height: 35px;
      text-align: center;
      border-radius: 3px;

    }
.nav {
  background: #f5f5f5;
  border-bottom: 1px solid #f2f2f2;
  width: 100%;
  height: 30px;
  vertical-align: middle;
}
.nav .nav_top {
  float: right;
  padding-right: 10px;
  font-size: 12px;
  line-height: 30px;
  vertical-align: middle;
}
.nav .nav_top li {
  float: left;
  vertical-align: middle;
  padding-left: 6px;
  padding-right: 6px;
}
.nav .nav_top .login a {
  display: inline-block;
  width: 28px;
  text-align: center;
}
.nav .nav_top .register a {
  display: inline-block;
  width: 28px;
  text-align: center;
}
.nav .nav_top .myId a {
  display: inline-block;
  width: 48px;
  text-align: center;
}
.nav .nav_top .app {
  padding-left: 31px;
  position: relative;
}
.nav .nav_top .app i {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: url("../img/ico.png") left 0 no-repeat;
  background-position: 8px 6px;
  left: 0px;
  top: 0px;
}
/************头部********/
.head {
  padding-top: 22px;
}
.head img {
  vertical-align: middle;
}
.head dl {
  padding-top: 20px;
  padding-left: 46px;
  padding-right: 32px;
  display: inline-block;
}
.head dl dt {
  display: inline-block;
  font-size: 14px;
}
.head dl dd {
  display: inline-block;
  width: 11px;
  height: 11px;
  background: url("../img/ico.png") 0 -31px;
  line-height: 8px;
  margin-left: 8px;
}
.head .post {
  width: 389px;
  height: 32px;
  border: 2px solid #ffa130;
  vertical-align: middle;
  font-size: 14px;
  padding-left: 16px;
}
.head .submit {
  width: 69px;
  height: 36px;
  color: #fff;
  background: #ffa130;
  font-size: 14px;
  margin-left: -3px;
  border: 2px solid #ffa130;
  vertical-align: middle;
}
.head .service {
  display: inline-block;
  vertical-align: middle;
  width: 114px;
  height: 32px;
  border: 2px solid #e0e0e0;
  background: url("../img/service.png") center;
  margin-left: 88px;
  margin-right: 26px;
}
.head .Cart {
  display: inline-block;
  vertical-align: middle;
  border: 2px solid #e0e0e0;
  width: 114px;
  height: 32px;
  background: url("../img/Cart.png") center;
}
.head .menu {
  height: 48px;
  background: #ffa130;
  margin-top: 25px;
}
.head .menu_li {
  line-height: 48px;
}
.head .menu_li a {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  width: 168px;
  text-align: center;
}
.head .menu_li a:focus {
  background: #f88f1f;
}
/************主体*****************/
.main {
  width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
}
.main .main_right {
  border-top: 4px solid #ffa130;
  border-bottom: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  width: 170px;
  float: left;
}
.main .main_right ul {
  text-align: center;
  margin-bottom: 10px;
}
.main .main_right ul li a {
  font-size: 14px;
  width: 100%;
  height: 100%;
  display: block;
  padding-top: 18px;
  padding-bottom: 18px;
}
.main .main_right ul li a:focus {
  color: #fff;
  background: #f88f1f;
}
.main .main_left {
  width: 1005px;
  float: right;
  min-height: 888px;
}
/************脚本******************/ 
.footer {
  // margin-top: 87px;
  background: #f9f0e4;
  height: 120px;
}
.footer_conment {
  padding-top: 40px;
}
.footer_conment ul {
  text-align: center;
}
.footer_conment ul li {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
}
.footer_conment p {
  text-align: center;
  margin-top: 14px;
  font-size: 12px;
}
