.box {
  width: 1200px;
  margin: 0 auto;
}
/***************导航*******************/
.nav {
  background: #f5f5f5;
  border-bottom: 1px solid #f2f2f2;
  width: 100%;
  height: 30px;
  vertical-align: middle;
}
.nav .nav_top {
  float: right;
  padding-right: 10px;
  font-size: 12px;
  line-height: 30px;
  vertical-align: middle;
}
.nav .nav_top li {
  float: left;
  vertical-align: middle;
  padding-left: 6px;
  padding-right: 6px;
}
.nav .nav_top .login a {
  display: inline-block;
  width: 28px;
  text-align: center;
}
.nav .nav_top .register a {
  display: inline-block;
  width: 28px;
  text-align: center;
}
.nav .nav_top .myId a {
  display: inline-block;
  width: 48px;
  text-align: center;
}
.nav .nav_top .app {
  padding-left: 31px;
  position: relative;
}
.nav .nav_top .app i {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: url("../img/ico.png") left 0 no-repeat;
  background-position: 8px 6px;
  left: 0px;
  top: 0px;
}
/************头部********/
.head {
  padding-top: 22px;
}
.head img {
  vertical-align: middle;
}
.head dl {
  padding-top: 20px;
  padding-left: 46px;
  padding-right: 32px;
  display: inline-block;
}
.head dl dt {
  display: inline-block;
  font-size: 14px;
}
.head dl dd {
  display: inline-block;
  width: 11px;
  height: 11px;
  background: url("../img/ico.png") 0 -31px;
  line-height: 8px;
  margin-left: 8px;
}
.head .post {
  width: 389px;
  height: 32px;
  border: 2px solid #ffa130;
  vertical-align: middle;
  font-size: 14px;
  padding-left: 16px;
}
.head .submit {
  width: 69px;
  height: 36px;
  color: #fff;
  background: #ffa130;
  font-size: 14px;
  margin-left: -3px;
  border: 2px solid #ffa130;
  vertical-align: middle;
}
.head .service {
  display: inline-block;
  vertical-align: middle;
  width: 114px;
  height: 32px;
  border: 2px solid #e0e0e0;
  background: url("../img/service.png") center;
  margin-left: 88px;
  margin-right: 26px;
}
.head .Cart {
  display: inline-block;
  vertical-align: middle;
  border: 2px solid #e0e0e0;
  width: 114px;
  height: 32px;
  background: url("../img/Cart.png") center;
}
.head .menu {
  height: 48px;
  background: #ffa130;
  margin-top: 25px;
}
.head .menu_li {
  line-height: 48px;
}
.head .menu_li a {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  width: 168px;
  text-align: center;
}
.head .menu_li a:focus {
  background: #f88f1f;
}
/************主体*****************/
.main {
  width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
}
.main .main_right {
  border-top: 4px solid #ffa130;
  border-bottom: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  width: 170px;
  float: left;
}
.main .main_right ul {
  text-align: center;
  margin-bottom: 10px;
}
.main .main_right ul li a {
  font-size: 14px;
  width: 100%;
  height: 100%;
  display: block;
  padding-top: 18px;
  padding-bottom: 18px;
}
.main .main_right ul li a:focus {
  color: #fff;
  background: #f88f1f;
}
.main .main_left {
  width: 1005px;
  float: right;
  min-height: 888px;
}
.main .main_left .personal .my {
  float: left;
  width: 650px;
  border: 1px solid #e6e6e6;
  padding-left: 28px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.main .main_left .personal .my .my_main dt {
  float: left;
  position: relative;
}
.main .main_left .personal .my .my_main dt i {
  position: absolute;
  display: block;
  width: 30px;
  height: 25px;
  background: url("../img/ico.png") 0 -43px;
  left: 66px;
  top: 66px;
}
.main .main_left .personal .my .my_main dd {
  display: inline-block;
  width: 282px;
  text-align: left;
  padding-left: 22px;
}
.main .main_left .personal .my .my_main .name {
  padding-bottom: 26px;
  line-height: 20px;
  padding-top: 16px;
  position: relative;
}
.main .main_left .personal .my .my_main .name i {
  position: absolute;
  width: 59px;
  height: 18px;
  background: url(../img/ico.png) 0 -82px;
  right: 100px;
}
.main .main_left .personal .my .my_main .name a {
  font-size: 18px;
}
.main .main_left .personal .my .my_main .address {
  font-size: 12px;
  color: #1a1a1a;
}
.main .main_left .personal .my .my_main .address a {
  color: #8c8c8c;
}
.main .main_left .personal .Money {
  width: 296px;
  position: relative;
  float: right;
  border: 1px solid #e6e6e6;
  background: #faf8f4;
}
.main .main_left .personal .Money i {
  position: absolute;
  display: block;
  width: 62px;
  height: 64px;
  background: url("../img/ico.png") -31px 0;
  top: 42px;
  left: 38px;
}
.main .main_left .personal .Money .NUBER {
  padding-top: 58px;
  padding-left: 128px;
  padding-bottom: 40px;
}
.main .main_left .personal .Money .NUBER em {
  font-size: 22px;
  font-weight: bold;
}
.main .main_left .personal .Money .NUBER span {
  color: #a4a3a2;
  font-size: 14px;
}
.main .main_left .Myfavorite .Myfavorite_title {
  padding-top: 20px;
  text-align: left;
}
.main .main_left .Myfavorite .Myfavorite_title p {
  font-size: 16px;
  text-align: left;
  display: inline-block;
  padding-left: 16px;
  color: #lalala;
  border-left: 4px solid #f66061;
}
.main .main_left .Myfavorite .favorite_li {
  margin-top: 22px;
}
.main .main_left .Myfavorite .favorite_li table {
  width: 100%;
}
.main .main_left .Myfavorite .favorite_li table tr td {
  text-align: left;
  width: 25%;
  padding-top: 22px;
  padding-left: 29px;
  padding-right: 29px;
}
.main .main_left .Myfavorite .favorite_li table tr td img {
  display: block;
  margin: 0 auto;
  width: 191px;
  height: 191px;
}
.main .main_left .Myfavorite .favorite_li table tr td span {
  display: inline-block;
  margin-top: 16px;
}
.main .main_left .Myfavorite .favorite_li table tr td span a {
  font-size: 14px;
  color: #4c4c4c;
}
.main .main_left .Myfavorite .favorite_li table tr td p {
  font-size: 18px;
  color: #ed601b;
}
.main .main_left .Myfavorite .favorite_li table tr td p s {
  float: right;
  font-size: 14px;
  color: #999999;
  vertical-align: middle;
}
.main .main_left .Myfavorite .favorite_li table tr td .addCart {
  display: block;
  margin: 0 auto;
  border: 1px solid #e6e6e6;
  width: 100px;
  height: 28px;
  background: url("../img/addCart.png ");
  margin-top: 18px;
  margin-bottom: 16px;
}
.main .main_left .MyOrder .MyOrder_title {
  padding-top: 20px;
  text-align: left;
}
.main .main_left .MyOrder .MyOrder_title p {
  font-size: 16px;
  text-align: left;
  display: inline-block;
  padding-left: 16px;
  color: #lalala;
  border-left: 4px solid #f66061;
}
.main .main_left .MyOrder .MyOrder_title span {
  font-size: 14px;
  float: right;
  color: #999;
}
.main .main_left .MyOrder .MyOrder_main {
  margin-top: 22px;
}
.main .main_left .MyOrder .MyOrder_main .MyOrder_main_hear {
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px solid #ccc;
  background: #f5f5f5;
}
.main .main_left .MyOrder .MyOrder_main .MyOrder_main_hear p {
  font-size: 14px;
  line-height: 1;
  padding-left: 18px;
  color: #a8a8a8;
}
.main .main_left .MyOrder .MyOrder_main .MyOrder_main_li {
  border: 1px solid #e6e6e6;
  border-top: none;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.main .main_left .MyOrder .MyOrder_main .MyOrder_main_li table tr .commodity_name a {
  color: #4c4c4c;
}
.main .main_left .MyOrder .MyOrder_main .MyOrder_main_li table tr .count a {
  color: #666;
}
.main .main_left .MyOrder .MyOrder_main .MyOrder_main_li table tr .sum {
  color: #ed601b;
}
.main .main_left .MyOrder .MyOrder_main .MyOrder_main_li table tr .ImmediatePay a {
  display: inline-block;
  width: 100px;
  height: 32px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  line-height: 32px;
  color: #636363;
}
.main .main_left .MyOrder .MyOrder_main .MyOrder_main_li table tr .Waiting {
  color: #666666;
}
.main .main_left .MyOrder .MyOrder_main .MyOrder_main_li table tr .Waiting a {
  color: #666666;
  display: inline-block;
}
.main .main_left .MyOrder .MyOrder_main .MyOrder_main_li table tr td {
  text-align: center;
}
.main .main_left .MyOrder .MyOrder_main .MyOrder_main_li table tr td i {
  display: inline-block;
  width: 25px;
}
.main .main_left .MyOrder .MyOrder_main .MyOrder_main_li table tr .commodity_name {
  text-align: left;
}
/**************脚本******************/
.footer {
  // margin-top: 87px;
  background: #f9f0e4;
  height: 120px;
}
.footer_conment {
  padding-top: 40px;
}
.footer_conment ul {
  text-align: center;
}
.footer_conment ul li {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
}
.footer_conment p {
  text-align: center;
  margin-top: 14px;
  font-size: 12px;
}
