.main_left .information_genre ul li {
  float: left;
}
.main_left .information_genre ul li a {
  display: block;
  // width: 98px;
  padding-left: 16px;
  padding-right: 16px;
  height: 46px;
  border: 1px solid #e6e6e6;
  line-height: 46px;
  text-align: center;
  background: #ffffff;
  color: #4c4c4c;
  font-size: 18px;
}
.main_left .changePassword {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6 ;
  padding-top: 34px;
  padding-bottom: 74px;
}
.main_left .changePassword .save {
  display: block;
  background: #f29525;
  color: #fff;
  font-size: 14px;
  margin-top: 54px;
  width: 80px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 3px;
}
.main_left .changePassword p {
  margin-bottom: 15px;
}
.main_left .changePassword p em {
  display: inline-block;
  width: 70px;
  font-size: 14px;
  color: #7a7a7a;
  text-align: right;
  vertical-align: middle;
}
.main_left .changePassword p input {
  width: 261px;
  height: 32px;
  border: 1px solid #e6e6e6;
  padding-left: 14px;
  vertical-align: middle;
}
.main_left .changePassword .notice {
  font-size: 14px;
  color: #808080;
}
